@import "custom";

:root {
  --bs-full-height: 100vh;
  --bs-full-width: 100vw;

  --bs-navbar-height: 76px;
  --bs-navbar-height-mobile: 76px;

  --bs-footer-height: 80px;
  --bs-footer-height-mobile: 80px;

  --bs-content-height: calc(
    100vh - var(--bs-navbar-height) - var(--bs-footer-height)
  );

  body {
    overflow-x: hidden;
  }

  .bruh {
    max-height: 150px;
    overflow-y: scroll;
  }
}
