@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap"); // Playfair Display & Rubik

$theme-colors: (
  "primary": #c7493a,
  "secondary": #689775 // "success": $success,
  // "info": $info,
  // "warning": $warning,
  // "danger": $danger,
  // "light": $light,
  // "dark": $dark,,
);

$font-family-sans-serif: "Rubik";
$font-family-monospace: "Playfair Display";

:root {
  font-family: "Playfair Display", serif, "Rubik", sans-serif;
  --primary-color: #c74b4b;
  --secondary-color: #689775;
}

$primary: #c74b4b;
$secondary: #689775;

@import "~bootstrap/scss/bootstrap";
