@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik&display=swap");

:root {
  font-family: "Playfair Display", serif, "Rubik", sans-serif;
  --primary-color: #c74b4b;
  --secondary-color: #689775;
}

$primary: #c74b4b;
$secondary: #689775;

@import "~bootstrap/scss/bootstrap";
